<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NombreProyecto</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body>

    <main role="main">
        @RenderBody()
    </main>


    <!-- ===== FOOTER ELDERTECH ===== -->
    <footer>
        <section class="footer-eldertech">

            <section class="footer-info">
                <h3>ElderTech</h3>
                <p>
                    Acompañamos a las personas mayores en su camino digital,
                    enseñando tecnología de forma simple, útil y paciente,
                    promoviendo comunicación, autonomía y participación plena.
                </p>
            </section>

            <section class="footer-links">
                <h4>Contacto</h4>
                <p>📩 eldertech6@gmail.com</p>
                <p>📸 Instagram: <b>@@eldertech</b></p>
            </section>

            <section class="footer-equipo">
                <h4>Equipo</h4>
                <p>Nicolás Schnaider – Backend</p>
                <p>Andrés Fishman – Frontend</p>
                <p>Julián Hofman – Diseño</p>
                <p>Tobías Digestani – Project Leader & Fullstack</p>
            </section>

            <section class="footer-copy">
                <p>© 2025 ElderTech — El puente que necesitás</p>
            </section>

        </section>
    </footer>
    <!-- ===== FIN FOOTER ===== -->


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>
