@{
    ViewData["Title"] = "Iniciar Sesión";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>ElderTech · Iniciar Sesión</title>
    <link rel="stylesheet" href="~/css/estilos.css" />
</head>

<body>

<section class="contenedor">
    <div>
        <section class="fondoIzquierda"></section>
    </div>

    <div>
        <section class="avatar">
            <img src="/Imagenes/Avatar.png" alt="Avatar usuario" />
        </section>

        <h1>Iniciar Sesión</h1>

        @if (ViewBag.Error != null)
        {
            <p style="color:red; text-align:center">@ViewBag.Error</p>
        }

        <form asp-action="IniciarSesion" asp-controller="Auth" method="post">
            <label>Usuario</label>
            <input type="text" name="Usuario" required />

            <label>Contraseña</label>
            <input type="password" name="Password" required />

            <button type="submit"><a href='@Url.Action("IndexSesionado", "Home")'>Ingresar</button>
        </form>

        <div class="login">
            <a href='@Url.Action("RecuperarContraseña", "Home")'>Olvidé mi contraseña</a>
        </div>

        <div class="login">
            <a href='@Url.Action("Registrarse", "Home")'>No tengo usuario</a>
        </div>
    </div>
</section>

<footer>
    <small>© ElderTech - Ayuda: ElderTech6@gmail.com</small>
</footer>

</body>
</html>
