  <!DOCTYPE html>
    <html lang="es">
    <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <link rel="stylesheet" href="style.css">
      <title>ElderTech · Registrarse</title>
    
    </head>
  
  
    <body>
      <header>
        <nav>
  
  
        </nav>
      </header>
  
  
      <section class="contenedor">
        <div>
            <section class = "fondoIzquierda">
                <a href="img/FondoIzquierdo.png" alt="Imagen fondo izquierda"></a>
            </section>
        </div>
  
  
    
        <div>
            <section class = "avatar">
                <figure>
                      <img src="img/Avatar.png" alt="Avatar de usuario (referencia)" />
                </figure>
            </section>
        
          <h1>Muchas Gracias!
              Te hemos enviado un mail a tu cuenta para que puedas cambiar la contraseña.</h1>
  
              <button type="submit"><a href='@Url.Action("IniciarSesion", "Home")'>Volver</a></button>
        
        </div>
      </section>
  
  
      <footer>
        <div>
          <small>© ElderTech</small>
          <small>Ayuda: ElderTech6@gmail.com</small>
        </div>
      </footer>
    </body>
    </html>
  

